.square-box {
  position: relative;
  /* width: 50%; */
  overflow: hidden;
}
.square-box:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.square-content {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  color: white;
}
.square-content div {
  display: table;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: auto;
  border: 2px solid rgb(121, 85, 66);
  box-shadow: inset 0px -1px 1px 1px lightgrey;
}

.square-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}
.emptyCell {
  background-image: url("./images/white-wood-wallpaper.jpg");
  background-position: -96px center;
  background-repeat: no-repeat;
}
.p1Token {
  background-color: darkred;
}
.p2Token {
  background-color: darkgoldenrod;
}
