.mainBtn {
  font-size: 3vw !important;
  border: 2px solid !important;
  font-weight: 500 !important;
  padding: 8px 16px;
  background-image: url("wood_background.jpg");
  text-shadow: 1px 1px 0px lightgray;
}

.mainDiv {
  height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popdownWood {
  background-image: url("wood_background.jpg");
  border: 2px solid white;
}

.resetButtonStyle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("wood_background.jpg");
  color: aquamarine;
}

.playBoard {
  background-image: url("wood_background.jpg");

  display: flex;
  justify-content: center;
  align-items: center;
}
.modalBtn {
  border-width: 2px;
  font-weight: 678;
  background-color: rgba(255, 255, 255, 0.2);
}
