.mainBtn {
  font-size: 3vw !important;
  border: 2px solid !important;
  font-weight: 500 !important;
  padding: 8px 16px;
  background-image: url("./images/wood_background.jpg");
  color: white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
body {
  background-image: url("./images/white-wood-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainDiv {
  height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popdownWood {
  background-image: url("./images/wood_background.jpg");
  border: 2px solid white;
}

.resetButtonStyle {
  position: absolute;
  top: 5%;
  right: 8%;
  background-image: url("./images/wood_background.jpg");

  font-size: 1.2vw !important;
  border: 2px solid !important;
  font-weight: 500 !important;

  color: white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.curPlayer {
  position: absolute;
  top: 5%;
  left: 8%;
  background-image: url("./images/wood_background.jpg");
  padding: 6px 12px;
  font-size: 1.2vw !important;
  border: 2px solid ;
  font-weight: 500 !important;

  color: white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.curPlayer span {
  font-size: 1.3vw !important;
}

.playBoard {
  background-image: url("./images/wood_background.jpg");
  border-left: 3px solid rgb(121, 85, 66);
  border-right: 3px solid rgb(121, 85, 66);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalBtn {
  border-width: 2px;
  font-weight: 678;
  background-image: url("./images/white-wood-wallpaper.jpg");
}
.playBoard:nth-child(3) {
  border-top: 3px solid rgb(121, 85, 66);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.playBoard:last-child {
  border-bottom: 3px solid rgb(121, 85, 66);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.h1Style {
  font-size: 7vw;
  width: 100%;
  color: #795542;
  -webkit-text-fill-color: #795542; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-transform: capitalize;
}
